@font-face{
    font-family: 'Fira Sans';
    src: url('eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('woff/FiraSans-Regular.woff') format('woff'),
         url('ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
